.app-info {
    margin-top: 5px;
    padding: 5px 5px 5px 20px;
    background-color: #F5FBFF;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);
    color: rgb(117, 117, 117);

}