@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.error {
    animation: show 1.5s 1 ease-in-out;
    position: fixed;
    left: 65%;
    top: 80%;
}
.hideError{
    display: none;
}