.profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'img info';
    position: relative;

    &__img-wrapper {
        grid-area: img;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__info {
        grid-area: info;
    }

    &__spinner {
        position: fixed;
        left: 45%;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }


    &__item {
        display: flex;
        justify-content: flex-start;

        p {
            margin-right: 20px;
        }
    }

    &__error {
        position: fixed;
        left: 65%;
        top: 80%;
    }
}